<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sqhl.shop.mapper.couponMapper">
  <resultMap id="BaseResultMap" type="cn.sqhl.shop.po.coupon">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="COUPON_NAME" jdbcType="VARCHAR" property="couponName" />
    <result column="COUPON_TYPE" jdbcType="VARCHAR" property="couponType" />
    <result column="COUPON_ZS_BALANCE" jdbcType="DECIMAL" property="couponZsBalance" />
    <result column="COUPON_BLANCE" jdbcType="DECIMAL" property="couponBlance" />
    <result column="COUPON_XF_BALANCE" jdbcType="DECIMAL" property="couponXfBalance" />
    <result column="COUPON_EXPIRY_DATE" jdbcType="DECIMAL" property="couponExpiryDate" />
    <result column="COUPON_REMARK" jdbcType="VARCHAR" property="couponRemark" />
    <result column="COUPON_STATUS" jdbcType="CHAR" property="couponStatus" />
    <result column="COUPON_FLAG" jdbcType="CHAR" property="couponFlag" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="OPTION_ADMINID" jdbcType="VARCHAR" property="optionAdminid" />
    <result column="OPTION_TIME" jdbcType="TIMESTAMP" property="optionTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, COUPON_NAME, COUPON_TYPE, COUPON_ZS_BALANCE, COUPON_BLANCE, COUPON_XF_BALANCE, 
    COUPON_EXPIRY_DATE, COUPON_REMARK, COUPON_STATUS, COUPON_FLAG, CREATE_TIME, OPTION_ADMINID, 
    OPTION_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SC_COUPON
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SC_COUPON
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.sqhl.shop.po.coupon">
    insert into SC_COUPON (ID, COUPON_NAME, COUPON_TYPE, 
      COUPON_ZS_BALANCE, COUPON_BLANCE, COUPON_XF_BALANCE, 
      COUPON_EXPIRY_DATE, COUPON_REMARK, COUPON_STATUS, 
      COUPON_FLAG, CREATE_TIME, OPTION_ADMINID, 
      OPTION_TIME)
    values (#{id,jdbcType=VARCHAR}, #{couponName,jdbcType=VARCHAR}, #{couponType,jdbcType=VARCHAR}, 
      #{couponZsBalance,jdbcType=DECIMAL}, #{couponBlance,jdbcType=DECIMAL}, #{couponXfBalance,jdbcType=DECIMAL}, 
      #{couponExpiryDate,jdbcType=DECIMAL}, #{couponRemark,jdbcType=VARCHAR}, #{couponStatus,jdbcType=CHAR}, 
      #{couponFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{optionAdminid,jdbcType=VARCHAR}, 
      #{optionTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.sqhl.shop.po.coupon">
    insert into SC_COUPON
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="couponName != null">
        COUPON_NAME,
      </if>
      <if test="couponType != null">
        COUPON_TYPE,
      </if>
      <if test="couponZsBalance != null">
        COUPON_ZS_BALANCE,
      </if>
      <if test="couponBlance != null">
        COUPON_BLANCE,
      </if>
      <if test="couponXfBalance != null">
        COUPON_XF_BALANCE,
      </if>
      <if test="couponExpiryDate != null">
        COUPON_EXPIRY_DATE,
      </if>
      <if test="couponRemark != null">
        COUPON_REMARK,
      </if>
      <if test="couponStatus != null">
        COUPON_STATUS,
      </if>
      <if test="couponFlag != null">
        COUPON_FLAG,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="optionAdminid != null">
        OPTION_ADMINID,
      </if>
      <if test="optionTime != null">
        OPTION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="couponName != null">
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null">
        #{couponType,jdbcType=VARCHAR},
      </if>
      <if test="couponZsBalance != null">
        #{couponZsBalance,jdbcType=DECIMAL},
      </if>
      <if test="couponBlance != null">
        #{couponBlance,jdbcType=DECIMAL},
      </if>
      <if test="couponXfBalance != null">
        #{couponXfBalance,jdbcType=DECIMAL},
      </if>
      <if test="couponExpiryDate != null">
        #{couponExpiryDate,jdbcType=DECIMAL},
      </if>
      <if test="couponRemark != null">
        #{couponRemark,jdbcType=VARCHAR},
      </if>
      <if test="couponStatus != null">
        #{couponStatus,jdbcType=CHAR},
      </if>
      <if test="couponFlag != null">
        #{couponFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optionAdminid != null">
        #{optionAdminid,jdbcType=VARCHAR},
      </if>
      <if test="optionTime != null">
        #{optionTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sqhl.shop.po.coupon">
    update SC_COUPON
    <set>
      <if test="couponName != null">
        COUPON_NAME = #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null">
        COUPON_TYPE = #{couponType,jdbcType=VARCHAR},
      </if>
      <if test="couponZsBalance != null">
        COUPON_ZS_BALANCE = #{couponZsBalance,jdbcType=DECIMAL},
      </if>
      <if test="couponBlance != null">
        COUPON_BLANCE = #{couponBlance,jdbcType=DECIMAL},
      </if>
      <if test="couponXfBalance != null">
        COUPON_XF_BALANCE = #{couponXfBalance,jdbcType=DECIMAL},
      </if>
      <if test="couponExpiryDate != null">
        COUPON_EXPIRY_DATE = #{couponExpiryDate,jdbcType=DECIMAL},
      </if>
      <if test="couponRemark != null">
        COUPON_REMARK = #{couponRemark,jdbcType=VARCHAR},
      </if>
      <if test="couponStatus != null">
        COUPON_STATUS = #{couponStatus,jdbcType=CHAR},
      </if>
      <if test="couponFlag != null">
        COUPON_FLAG = #{couponFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optionAdminid != null">
        OPTION_ADMINID = #{optionAdminid,jdbcType=VARCHAR},
      </if>
      <if test="optionTime != null">
        OPTION_TIME = #{optionTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sqhl.shop.po.coupon">
    update SC_COUPON
    set COUPON_NAME = #{couponName,jdbcType=VARCHAR},
      COUPON_TYPE = #{couponType,jdbcType=VARCHAR},
      COUPON_ZS_BALANCE = #{couponZsBalance,jdbcType=DECIMAL},
      COUPON_BLANCE = #{couponBlance,jdbcType=DECIMAL},
      COUPON_XF_BALANCE = #{couponXfBalance,jdbcType=DECIMAL},
      COUPON_EXPIRY_DATE = #{couponExpiryDate,jdbcType=DECIMAL},
      COUPON_REMARK = #{couponRemark,jdbcType=VARCHAR},
      COUPON_STATUS = #{couponStatus,jdbcType=CHAR},
      COUPON_FLAG = #{couponFlag,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPTION_ADMINID = #{optionAdminid,jdbcType=VARCHAR},
      OPTION_TIME = #{optionTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>