<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sqhl.shop.mapper.FaqMapper">
  <resultMap id="BaseResultMap" type="cn.sqhl.shop.po.Faq">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="FAQ_TITLE" jdbcType="VARCHAR" property="faqTitle" />
    <result column="FAQ_TYPE_ID" jdbcType="VARCHAR" property="faqTypeId" />
    <result column="CATEGORY" jdbcType="CHAR" property="category" />
    <result column="PARENT_FAQ_ID" jdbcType="VARCHAR" property="parentFaqId" />
    <result column="HOT_QUESTION" jdbcType="CHAR" property="hotQuestion" />
    <result column="ORDER_" jdbcType="DECIMAL" property="order" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId" />
    <result column="FLAG" jdbcType="CHAR" property="flag" />
    <result column="BELONG" jdbcType="VARCHAR" property="belong" />
    <result column="FAQ_TYPE" jdbcType="CHAR" property="faqType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.sqhl.shop.po.Faq">
    <result column="FAQ_CONTENT" jdbcType="CLOB" property="faqContent" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, FAQ_TITLE, FAQ_TYPE_ID, CATEGORY, PARENT_FAQ_ID, HOT_QUESTION, ORDER_, CREATE_TIME, 
    CREATE_USER_ID, FLAG, BELONG, FAQ_TYPE
  </sql>
  <sql id="Blob_Column_List">
    FAQ_CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from SC_FAQ
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SC_FAQ
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.sqhl.shop.po.Faq">
    insert into SC_FAQ (ID, FAQ_TITLE, FAQ_TYPE_ID, 
      CATEGORY, PARENT_FAQ_ID, HOT_QUESTION, 
      ORDER_, CREATE_TIME, CREATE_USER_ID, 
      FLAG, BELONG, FAQ_TYPE, FAQ_CONTENT
      )
    values (#{id,jdbcType=VARCHAR}, #{faqTitle,jdbcType=VARCHAR}, #{faqTypeId,jdbcType=VARCHAR}, 
      #{category,jdbcType=CHAR}, #{parentFaqId,jdbcType=VARCHAR}, #{hotQuestion,jdbcType=CHAR}, 
      #{order,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, 
      #{flag,jdbcType=CHAR}, #{belong,jdbcType=VARCHAR}, #{faqType,jdbcType=CHAR}, #{faqContent,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.sqhl.shop.po.Faq">
    insert into SC_FAQ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="faqTitle != null">
        FAQ_TITLE,
      </if>
      <if test="faqTypeId != null">
        FAQ_TYPE_ID,
      </if>
      <if test="category != null">
        CATEGORY,
      </if>
      <if test="parentFaqId != null">
        PARENT_FAQ_ID,
      </if>
      <if test="hotQuestion != null">
        HOT_QUESTION,
      </if>
      <if test="order != null">
        ORDER_,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="belong != null">
        BELONG,
      </if>
      <if test="faqType != null">
        FAQ_TYPE,
      </if>
      <if test="faqContent != null">
        FAQ_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="faqTitle != null">
        #{faqTitle,jdbcType=VARCHAR},
      </if>
      <if test="faqTypeId != null">
        #{faqTypeId,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=CHAR},
      </if>
      <if test="parentFaqId != null">
        #{parentFaqId,jdbcType=VARCHAR},
      </if>
      <if test="hotQuestion != null">
        #{hotQuestion,jdbcType=CHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=CHAR},
      </if>
      <if test="belong != null">
        #{belong,jdbcType=VARCHAR},
      </if>
      <if test="faqType != null">
        #{faqType,jdbcType=CHAR},
      </if>
      <if test="faqContent != null">
        #{faqContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sqhl.shop.po.Faq">
    update SC_FAQ
    <set>
      <if test="faqTitle != null">
        FAQ_TITLE = #{faqTitle,jdbcType=VARCHAR},
      </if>
      <if test="faqTypeId != null">
        FAQ_TYPE_ID = #{faqTypeId,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        CATEGORY = #{category,jdbcType=CHAR},
      </if>
      <if test="parentFaqId != null">
        PARENT_FAQ_ID = #{parentFaqId,jdbcType=VARCHAR},
      </if>
      <if test="hotQuestion != null">
        HOT_QUESTION = #{hotQuestion,jdbcType=CHAR},
      </if>
      <if test="order != null">
        ORDER_ = #{order,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=CHAR},
      </if>
      <if test="belong != null">
        BELONG = #{belong,jdbcType=VARCHAR},
      </if>
      <if test="faqType != null">
        FAQ_TYPE = #{faqType,jdbcType=CHAR},
      </if>
      <if test="faqContent != null">
        FAQ_CONTENT = #{faqContent,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.sqhl.shop.po.Faq">
    update SC_FAQ
    set FAQ_TITLE = #{faqTitle,jdbcType=VARCHAR},
      FAQ_TYPE_ID = #{faqTypeId,jdbcType=VARCHAR},
      CATEGORY = #{category,jdbcType=CHAR},
      PARENT_FAQ_ID = #{parentFaqId,jdbcType=VARCHAR},
      HOT_QUESTION = #{hotQuestion,jdbcType=CHAR},
      ORDER_ = #{order,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=CHAR},
      BELONG = #{belong,jdbcType=VARCHAR},
      FAQ_TYPE = #{faqType,jdbcType=CHAR},
      FAQ_CONTENT = #{faqContent,jdbcType=CLOB}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sqhl.shop.po.Faq">
    update SC_FAQ
    set FAQ_TITLE = #{faqTitle,jdbcType=VARCHAR},
      FAQ_TYPE_ID = #{faqTypeId,jdbcType=VARCHAR},
      CATEGORY = #{category,jdbcType=CHAR},
      PARENT_FAQ_ID = #{parentFaqId,jdbcType=VARCHAR},
      HOT_QUESTION = #{hotQuestion,jdbcType=CHAR},
      ORDER_ = #{order,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=CHAR},
      BELONG = #{belong,jdbcType=VARCHAR},
      FAQ_TYPE = #{faqType,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <resultMap id="faqResultMap" type="cn.sqhl.shop.vo.Faq">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="FAQ_TITLE" jdbcType="VARCHAR" property="faqTitle" />
    <result column="FAQ_TYPE_ID" jdbcType="VARCHAR" property="faqTypeId" />
    <result column="CATEGORY" jdbcType="CHAR" property="category" />
    <result column="PARENT_FAQ_ID" jdbcType="VARCHAR" property="parentFaqId" />
    <result column="HOT_QUESTION" jdbcType="CHAR" property="hotQuestion" />
    <result column="ORDER_" jdbcType="DECIMAL" property="order" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId" />
    <result column="FLAG" jdbcType="CHAR" property="flag" />
    <result column="BELONG" jdbcType="VARCHAR" property="belong" />
    <result column="FAQ_TYPE" jdbcType="CHAR" property="faqType" />
  </resultMap>
  <resultMap extends="faqResultMap" id="faqWithBLOBs" type="cn.sqhl.shop.vo.Faq">
    <result column="FAQ_CONTENT" jdbcType="CLOB" property="faqContent" />
  </resultMap>
  <sql id="faq_Column_List">
    ID, FAQ_TITLE, FAQ_TYPE_ID, CATEGORY, PARENT_FAQ_ID, HOT_QUESTION, ORDER_, CREATE_TIME, 
    CREATE_USER_ID, FLAG, BELONG, FAQ_TYPE
  </sql>
  <sql id="faqBlob_Column_List">
    FAQ_CONTENT
  </sql>
  <select id="queryList" parameterType="java.util.Map" resultMap="faqWithBLOBs">
    select 
    <include refid="faq_Column_List" />
    ,
    <include refid="faqBlob_Column_List" />
    from SC_FAQ
    where flag=1
	<if test="map.kindid !=null">
    	and FAQ_TYPE_ID=#{map.kindid,jdbcType=VARCHAR}
    </if>
	<if test="map.keyvalue !=null">
    	and FAQ_CONTENT like '%#{map.keyvalue,jdbcType=VARCHAR}%'
    </if>
	order by FAQ_ORDER desc
  </select>
</mapper>